    * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(255, 196, 0), rgb(255, 111, 0));
  }

  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .search-container input {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
  }
  
  .suggestions {
    display: none;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions ul li:hover {
    background-color: #f0f0f0;
  }
  